@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Krona One', sans-serif;
}

@font-face {
  font-family: 'hoefler-text';
  src: url('/fonts/hoefler-text.ttf') format('truetype');
  font-display: auto;
}

.hoefler-text {
  font-family: 'hoefler-text';
}

@font-face {
  font-family: 'excelsior-script';
  src: url('/fonts/ExcelsiorScript.otf') format('truetype');
  font-display: auto;
}

.excelsior-script {
  font-family: 'excelsior-script';
}

a.link {
  /* padding-right: 30px; */
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex-center;
  @apply px-4;
}

.profile-view {
  display: grid;
  grid-template-areas:
    'name role'
    'university university';
  row-gap: 2rem;
  column-gap: 1rem;
}

.profile-view-name {
  grid-area: name;
}

.profile-view-role {
  grid-area: role;
}

.profile-view-univ {
  grid-area: university;
}

.profile-view-lunch {
  grid-area: lunchGroup;
}

.profile-view-interests {
  grid-area: interests;
}

.challengeGrid {
  column-count: 2;
}

@media (max-width: 768px) {
  .challengeGrid {
    column-count: 1;
  }

  .footerIcon {
    transform: scale(1) !important;
  }
}

/* For challenge selection in home page */
.arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid rgb(233 213 255);
}

/* Safari key icon for sign up password field */
.newPasswordInput::-webkit-credentials-auto-fill-button {
  position: absolute;
  right: 4rem;
}

/* Dashboard mobile menu */
.accordion {
  width: 12rem;
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}
.menuactive {
  width: 100%;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footerIcon {
  transform: scale(1.5);
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev {
  color: #111a31 !important;
}

.swiper-button-next {
  color: #111a31 !important;
}

.swiper-button-prev:after {
  content: 'Prev';
}

.swiper-button-next:after {
  content: 'Next';
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: block;
  font-size: 1rem !important;
  font-weight: 600;
  color: #111a31;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-tracks {
  background-color: #4c4950 !important;
  opacity: 1;
}

#popup.show {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  transition-delay: 3s;
}

.appheader-bg {
  background-image: url('../public/assets/appheader_bg.png');
}

.gold-text-gradient {
  background: -webkit-linear-gradient(180deg, #f6cc82, #bd8a31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appheader-dash {
  background-image: url('../public/assets/appheader-dash.png');
  background-size: 100% 105%;
}

.hero-bg {
  background-image: url('../public/assets/hero-bg.png');
}

.about-bg {
  background-image: url('../public/assets/about-bg.jpeg');
}
.slowbounce {
  animation: slowbounce 3s ease infinite;
}
@keyframes slowbounce {
  0%,
  10%,
  25%,
  50%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px);
  }
  30% {
    transform: translateY(-3px);
  }
}
