@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    sans-serif;
}

@font-face {
  font-family: 'wavehaus';
  src: url('/fonts/Wavehaus-66Book.ttf') format("truetype");
  font-display: auto;
}

a.link {
  /* padding-right: 30px; */
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex-center;
  @apply px-4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.element {
  font-family: 'wavehaus';
 }
 
.dropdown:hover .dropdown-menu {
  display: block;
}