@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'wavehaus';
  src: url('/fonts/Wavehaus-66Book.ttf') format('truetype');
  font-display: auto;
}

.MuiTypography-root {
  font-family: 'wavehaus' !important;
  src: url('/fonts/Wavehaus-66Book.ttf') format('truetype') !important;
  font-display: auto !important;
  font-weight: 600 !important;
}

.Target-root {
  font-family: 'wavehaus' !important;
  src: url('/fonts/Wavehaus-66Book.ttf') format('truetype') !important;
  font-display: auto !important;
}

a.link {
  /* padding-right: 30px; */
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex-center;
  @apply px-4;
}

.element {
  font-family: 'wavehaus';
}

.profile-view {
  display: grid;
  grid-template-areas:
    'name role'
    'university university';
  row-gap: 2rem;
  column-gap: 1rem;
}

.profile-view-name {
  grid-area: name;
}

.profile-view-role {
  grid-area: role;
}

.profile-view-univ {
  grid-area: university;
}

.profile-view-lunch {
  grid-area: lunchGroup;
}

.profile-view-interests {
  grid-area: interests;
}

.challengeGrid {
  column-count: 2;
}

@media (max-width: 768px) {
  .challengeGrid {
    column-count: 1;
  }

  /* Home page video scaling */
  .video {
    zoom: 0.7 !important;
    -moz-transform: scale(0.7) !important;
    -o-transform: scale(0.7) !important;
    -webkit-transform: scale(0.7) !important;
  }

  .footerIcon {
    transform: scale(1) !important;
  }
}

@media (max-width: 1024px) {
  /* Home page video scaling */
  .video {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    -moz-transform-origin: top center;
    -o-transform: scale(0.85);
    -o-transform-origin: top center;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: top center;
  }
}

/* For challenge selection in home page */
.arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid rgb(233 213 255);
}

/* Safari key icon for sign up password field */
.newPasswordInput::-webkit-credentials-auto-fill-button {
  position: absolute;
  right: 4rem;
}

.registrationTitle:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-top: 15px;
  border-bottom: 2px solid black;
}

/* Dashboard mobile menu */
.accordion {
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  width: 12rem;
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.menuactive {
  width: 100%;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 12px;
  float: right;
}

.menuactive:after {
  content: '\2796';
}

.footerIcon {
  transform: scale(1.5);
}
